@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
}
body{
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0px 0px 20px #aaaaaa;
}
.App {
	margin: 0;
	padding: 0;
	background: no-repeat center center fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.crypto-and-weather{
	display: flex;
	justify-content: space-between;
}
.crypto{
	display: flex;
	flex-direction: column;
	font-size: 20px;
	color: #ffffff;
	padding: 10px;
	margin: 5px;

}
.crypto >p {
	margin: 0;
}
.crypto-top{
	display: flex;
	align-items: center;
}
.crypto-top > span{
	margin-left: 10px;
}
.time{
	text-align: center;
	font-weight: 900;
	font-size: 100px;
}
.date{
	font-size: 24px;
	margin-top: 20px;
}
.weather{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 20px;
	margin-top: -15px;
}
.weather-temp-icon{
	display: flex;
	align-items: center;
		font-weight: 700;
}
.weather-city{
	font-size: 24px;
	font-weight: 500;
	margin-top: -15px;
}
.details-recipe{
	display: flex;
	justify-content: space-between;
}
.image-details{
	display: flex;
	flex-direction: column;
	justify-content: end;
	font-size: 18px;
	margin: 20px;
}
.recipe{
	display: flex;
	flex-direction: column;
	align-items: end;
	margin: 10px;
	font-size: 24px;
}
.recipe-link{
	text-decoration: none;
	color: inherit;
	text-align: center;
}
.recipe-link:hover{
	cursor: pointer;
	text-decoration: underline;
	color: green;
	font-weight: 700;
}
.recipe-image{
	border-radius: 10px;
	margin: 10px;
	height: 200px;
	width: 200px;
	transition: .3s ease-in-out;
}

.recipe-image:hover{
	opacity: 1;
		-webkit-animation: flash 1.5s;
		animation: flash 1.5s;
		cursor: pointer;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}

	100% {
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: .4;
	}

	100% {
		opacity: 1;
	}
}